.back{
    margin-left: 30px;
    font-size: 25px;
}
.setting{
    padding-right: 30px;
    font-size: 25px;
}
.help{
  //padding-bottom: 10px;
  padding-right: 8px;
}
.help-icon{
  font-size: 30px;
  color: whitesmoke;
}

.delete{
    padding-right: 30px;
    font-size: 25px;
}
.note{
    background: #FFFFE0;  
}