<ion-header>
  <ion-toolbar class="tool-one">
    <ion-title>VetCare App</ion-title>
    <ion-buttons class="help" slot="end">
      <ion-icon name="help-circle-outline" routerLink="/tabs/help" class="help-icon"></ion-icon>
    </ion-buttons>  
    <ion-buttons class="setting" slot="end">
      <ion-icon name="settings-sharp"  routerLink="/tabs/settings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="tool-two">
    <ion-title>Update Disease Details</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="back" name="arrow-back-outline" (click)="goback()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="ion-padding">
      <ion-item>
        <ion-datetime #myPicker type="date" placeholder="Date" max="2050-12-31" dispalyFormat="DD-MM-YYYY" [(ngModel)]="disease.date" (ionChange)="updateMyDate(myPicker.value)"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Clinical signs" [(ngModel)]="disease.clinicalSigns"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Type of clinical signs" [(ngModel)]="disease.typeOfClinicalSigns"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Diagnosis" [(ngModel)]="disease.diagnosis"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Treatment" [(ngModel)]="disease.treatment"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Remarks" [(ngModel)]="disease.remarks"></ion-input>
      </ion-item>
    </div>
    <ion-button class="update" expand="block" shape="round" (click)="updateDisease()">UPDATE</ion-button>
  </div>
</ion-content>
