.btnUpdate{
    --background: #007474;
    color: whitesmoke;
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
    text-transform: none;
}
.content{
    margin-left:10px;
    margin-right:10px;
}
.back{
    margin-left: 30px;
    font-size: 25px;
}
.setting{
    padding-right: 30px;
    font-size: 25px;
}
.help{
  //padding-bottom: 10px;
  padding-right: 8px;
}
.help-icon{
  font-size: 30px;
  color: whitesmoke;
}