/*.toolbar{
    /*ion-title{
        margin-left: 5px;
    }
    padding-left: 30px;
    padding-right: 30px;
}*/

.back{
    margin-left: 30px;
    font-size: 25px;
}
.setting{
    padding-right: 30px;
    font-size: 25px;
}
.help{
    //padding-bottom: 10px;
    padding-right: 8px;
}
.help-icon{
    font-size: 30px;
    color: whitesmoke;
}

.content{
    margin-top: 50px;
}
ion-input{
    border-radius: 5px;
    font-size: large;
    padding-left: 7px !important;
    font-family: 'Nunito, san-serif';
}
ion-datetime{
    border-radius: 5px;
    font-size: large;
    padding-left: 7px !important;
    font-family: 'Nunito, san-serif';
}

.save{
    --background: #007474;
    color: whitesmoke;
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: medium;
    font-weight: bold;
    text-transform: none;
}