<ion-header>
  <ion-toolbar class="tool-one">
    <ion-title>VetCare App</ion-title>
    <ion-buttons class="help" slot="end">
      <ion-icon name="help-circle-outline" routerLink="/tabs/help" class="help-icon"></ion-icon>
    </ion-buttons>  
    <ion-buttons class="setting" slot="end">
      <ion-icon name="settings-sharp" routerLink="/tabs/settings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="tool-two">
    <ion-title>Notifications</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="back" name="arrow-back-outline" routerLink="/tabs/farm"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
 <div *ngFor="let frm of (allfarms)">
   <div *ngIf="userGSdevision==frm.gsdevision">
    <ion-card class="content"  [routerLink]="'/tabs/view-cattle/' + frm.cattleTag">
          
        <ion-card-title>Vaccination  Notifications</ion-card-title>

        <ion-card-content>
          <small>Today is vaccination day of {{frm.cattleTag}} Cattle in the {{frm.farm}}.</small><br>
          <small>Address: {{frm.address}}.</small>
        </ion-card-content>
    
      
     
  
    </ion-card>
   </div>
 </div>
  <!--ion-list class="content">
   
      <ion-item-sliding id="item100" *ngFor="let frm of (allfarms)">
        <div *ngIf="userGSdevision==frm.gsdevision">
          <ion-card [routerLink]="'/tabs/view-cattle/' + frm.cattleTag">
           
            <div>
              <h2><i>Vaccination  Notifications</i></h2>
          
              <small>Today is vaccination day of {{frm.cattleTag}} Cattle in the {{frm.farm}}.</small><br>
              <small>Address: {{frm.address}}.</small>
            </div>
            
           
        
          </ion-card>


      </div>     
    </ion-item-sliding>
  </ion-list-->

 
</ion-content>
