.back{
    margin-left: 30px;
    font-size: 25px;
}
.setting{
    padding-right: 30px;
    font-size: 25px;
}
.help{
    //padding-bottom: 10px;
    padding-right: 8px;
}
.help-icon{
    font-size: 30px;
    color: whitesmoke;
}

.notification{
    --background: #00ced1;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.content{
    //position:fixed;
  
    margin-left:5px;
    margin-right:5px;
    border: 1px solid #ddd;
    padding: 8px;
  }
  .active{
   
    color:#628cff;
  
}