<ion-header>
  <ion-toolbar class="tool-one">
    <ion-title>VetCare App</ion-title>
    <ion-buttons class="help" slot="end">
      <ion-icon name="help-circle-outline" routerLink="/tabs/help" class="help-icon"></ion-icon>
    </ion-buttons>  
    <ion-buttons class="setting" slot="end">
      <ion-icon name="settings-sharp" routerLink="/tabs/settings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="tool-two">
    <ion-title>Notifications</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="back" name="arrow-back-outline" routerLink="/tabs/farm"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
 <!--div *ngFor="let frm of (allfarms)">
   <div *ngIf="userGSdevision==frm.gsdevision">
    <ion-card class="content"  [routerLink]="'/tabs/view-cattle/' + frm.cattleTag">
          
        <ion-card-title>Vaccination  Notifications</ion-card-title>

        <ion-card-content>
          <small>Today is vaccination day of {{frm.cattleTag}} Cattle in the {{frm.farm}}.</small><br>
          <small>Address: {{frm.address}}.</small>
        </ion-card-content>
    
      
     
  
    </ion-card>
   </div>
 </div-->
 <ion-list>
   
  <div *ngFor="let frm of (allfarms)">
    <ion-item  *ngIf="userGSdevision==frm.gsdevision">
    <ion-thumbnail class="check" slot="start">      
    </ion-thumbnail>
   
    <small>
      <h6>Vaccination Notification</h6>
      <p class="notificationColr">Today is vaccination day of {{frm.cattleTag}} Cattle in the {{frm.farm}}.</p>
      <p class="notificationColr">Address: {{frm.address}}.</p>
    </small>
    <br>
    <!--ion-button  color="success" fill="outline" slot="end"  [routerLink]="'/tabs/view-cattle/'+frm.cattleTag">View</ion-button-->
  </ion-item>
 
</div>
</ion-list>
  <!--ion-list class="content">
   
      <ion-item-sliding id="item100" *ngFor="let frm of (allfarms  | async)">
        <div *ngIf="userGSdevision==frm.gsdevision">
          <ion-card [routerLink]="'/tabs/view-cattle/' + frm.cattleTag">
           
            <div>
              <h2><i>Vaccination  Notifications</i></h2>
          
              <small>Today is vaccination day of {{frm.cattleTag}} Cattle in the {{frm.farm}}.</small><br>
              <small>Address: {{frm.address}}.</small>
            </div>
            
           
        
          </ion-card>


      </div>     
    </ion-item-sliding>
  </ion-list-->

</ion-content>
