.back{
    margin-left: 30px;
    font-size: 25px;
}
.setting{
    padding-right: 30px;
    font-size: 25px;
}
.help{
  //padding-bottom: 10px;
  padding-right: 8px;
}
.help-icon{
  font-size: 30px;
  color: whitesmoke;
}

.add{
  font-size: 35px;
}
.tool-two{
  padding-right: 30px;
}

.image{
    padding-left: 50px;
    padding-top: 40px;
}
img{
    width: 250px;
}

h1{
    font-size: 50px;
    font-weight: bold;
}

.content{
    //position:fixed;
  
    margin-left:5px;
    margin-right:5px;
    margin-top: 3px;
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #farmers{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  .my-custom-class {
    --background: #e5e5e5;
  }