<ion-header>
  <ion-toolbar class="tool-one">
    <ion-title>VetCare App</ion-title>
    <ion-buttons class="help" slot="end">
      <ion-icon name="help-circle-outline" routerLink="/tabs/help" class="help-icon"></ion-icon>
    </ion-buttons>  
    <ion-buttons class="setting" slot="end">
      <ion-icon name="settings-sharp" routerLink="/tabs/settings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="tool-two">
    <ion-title>Farm House</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="back" name="arrow-back-outline" routerLink="/tabs/farm"></ion-icon>
    </ion-buttons>
    <ion-buttons class="add" slot="end" routerLink="/tabs/add-farm">
      <ion-icon name="add-circle-sharp"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-content>
  <!-- Default Searchbar -->
  <ion-searchbar  [(ngModel)]="term" animated="true"></ion-searchbar>
  <ion-list>
    <!--ion-item *ngFor="let farm of (farms | async)"-->
      <ion-grid id="farmers" *ngFor="let farm of (farms | async | filter:term)" >
        <div *ngIf="userGSdevision== farm.GSDivision">
        <ion-row class="content" [routerLink]="'/tabs/view-farm/'+farm.id" (click)="gotomore(farm.id)">       
          <ion-col size="6" >
            <div>{{ farm.farmName }}</div>
          </ion-col>
          <ion-col size="6">
            <div>{{ farm.farmRegNo }}</div>
          </ion-col>
         
        </ion-row>
      </div>
      </ion-grid>
    <!--/ion-item--> 
  </ion-list>
</ion-content>
