<ion-header>
  <ion-toolbar class="tool-one">
    <ion-title>VetCare App</ion-title>
    <ion-buttons class="help" slot="end">
      <ion-icon name="help-circle-outline" routerLink="/tabs/help" class="help-icon"></ion-icon>
    </ion-buttons>  
    <ion-buttons class="setting" slot="end">
      <ion-icon name="settings-sharp" routerLink="/tabs/settings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="tool-two">
    <ion-title>Farm House</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="back" name="arrow-back-outline" routerLink="/tabs/farm"></ion-icon>
    </ion-buttons>
    <ion-buttons class="add" slot="end" routerLink="/tabs/add-farm">
      <ion-icon name="add-circle-sharp"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-content>
  <!-- Default Searchbar -->
  <ion-searchbar  [(ngModel)]="term" animated="true"></ion-searchbar>
  <!--ion-list>
   
      <div id="farmers" *ngFor="let farm of (farms | async | filter:term)" >
        <div *ngIf="userGSdevision== farm.GSDivision">       
           <ion-row class="content" [routerLink]="'/tabs/view-farm/'+farm.id" (click)="gotomore(farm.id)">     
            <ion-col size="2">
            
             
            </ion-col>             
              <ion-col size="4" >
                <div>{{ farm.farmName }}</div>
              </ion-col>
              <ion-col size="4">
                <div>{{ farm.farmRegNo }}</div>
              </ion-col>      
            </ion-row>
            <br>          
      </div>
      </div>
    
  </ion-list-->
  <ion-list>
   
    <div *ngFor="let farm of (farms | async | filter:term)">
      <ion-item  *ngIf="userGSdevision== farm.GSDivision">
      <ion-thumbnail class="check" slot="start">      
      </ion-thumbnail>
     
      <ion-label>
        <h2>{{ farm.farmName }}</h2>
        <p>{{ farm.farmRegNo }}</p>
      </ion-label>
      <ion-button  color="success" fill="outline" slot="end" [routerLink]="'/tabs/view-farm/'+farm.id" (click)="gotomore(farm.id)">View</ion-button>
    </ion-item>
   
  </div>
  </ion-list>
</ion-content>
