.back{
    margin-left: 30px;
    font-size: 25px;
}

.flex-right {
    justify-content: flex-end;
}

.theme{
  margin-left: 10px;
  margin-right: 10px;
}

/*.location{
  margin-right: 25px;
  font-size: x-large;
}*/

.about{
  margin-right: 25px;
  font-size: x-large;
}
/*.help{
  margin-right: 25px;
  font-size: x-large;
}*/

ion-item{
  padding-top: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*ion-icon{
  padding-left: 5px;
}*/

.my-button{
  //color: black;
  //font-size: large;
  padding-top: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
}
.help{
  //padding-bottom: 10px;
  padding-right: 30px;
}
.help-icon{
  font-size: 30px;
  color: whitesmoke;
}