/*.toolbar{
    /*ion-title{
        margin-left: 5px;
    }
    padding-left: 30px;
    padding-right: 30px;
}*/

.back{
    margin-left: 30px;
    font-size: 25px;
}
.setting{
    padding-right: 30px;
    font-size: 25px;
}
.help{
    //padding-bottom: 10px;
    padding-right: 8px;
}
.help-icon{
    font-size: 30px;
    color: whitesmoke;
}

/*.content{
    margin-top: 20px;
}*/
ion-input{
    border-radius: 5px;
    font-size: large;
    padding-left: 7px !important;
    font-family: 'Nunito, san-serif';
}
ion-datetime{
    border-radius: 5px;
    font-size: large;
    padding-left: 7px !important;
    font-family: 'Nunito, san-serif';
}

.upload{
    font-size: medium;
    //color: black;
}

.save{
    --background: #007474;
    color: whitesmoke;
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: medium;
    font-weight: bold;
    text-transform: none;
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

input#uploadBtn{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.imgcrd{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imghidden{
    display:none;
    margin-left: auto;
    margin-right: auto;
}