.tool-two{
    padding-left: 30px;
    padding-right: 30px;
}

.back{
    font-size: 25px;
}

/*ion-card{
    background-color:;
    font-size: 50px;
}*/

ion-card{
    --background: #ffffe0;
    color: black;
}