<ion-header>
  <ion-toolbar class="tool-one">
    <ion-title>VetCare App</ion-title>
    <!--ion-buttons class="setting" slot="end">
      <ion-icon name="settings-sharp"></ion-icon>
    </ion-buttons-->
  </ion-toolbar>
  <ion-toolbar class="tool-two">
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="back" name="arrow-back-outline" routerLink="/tabs/settings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/images/vetdoc.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Cattle Helth Care</ion-card-subtitle>
      <ion-card-title>Version 1.0</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Cattle helth care  develops for veterinarians & livestock development instructors to help them recording Cattles
    information & health, breeding information with the purpose of improving production, maintain cattles health in a better way.<br>
    We are bringing the latest mobile technology in the most remote regions to innovate cattle care and reporting system.
    </ion-card-content>
  </ion-card>
</ion-content>
