/*.*tool-one{
    padding-left: 30px;
    ion-icon{
        font-size: 25px;
    }
}

.content{
    margin-top: 200px;
   //margin-left: 20px;
    //margin-right: 20px;
}
ion-input{
    border-radius: 5px;
    font-size: small;
    padding-left: 12px !important;
}

ion-item{
    //margin-left: 10px;
    margin-right: 15px;
}

.signin{
    --background: #007474;
    color: whitesmoke;
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
    text-transform: none;
}

ion-checkbox{
    border-radius: 5px;
    margin-bottom: 7px;
    margin-left: 0px;
    --height: 10px;
    --width: 15px;
}

ion-label{
    display: inline-block;
    vertical-align: top;
}

p{
    font-size: medium;
    margin-bottom: 5px;
    margin-left: 5px;
}

.forgetpass{
    //color: black;
    font-size: medium;
    //margin-right: 20px;
    text-transform: none;
}

.error-message{
    margin-left: 20px;
    color: red;
}*/
.back{
    margin-left: 30px;
    font-size: 25px;
}