<ion-header>
  <ion-toolbar class="tool-one">
    <ion-title>VetCare App</ion-title>
    <ion-buttons class="help" slot="end">
      <ion-icon name="help-circle-outline" routerLink="/tabs/help" class="help-icon"></ion-icon>
    </ion-buttons>  
    <ion-buttons class="setting" slot="end">
      <ion-icon name="settings-sharp" routerLink="/tabs/settings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="tool-two">
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="back" name="arrow-back-outline" routerLink="/tabs/profile"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="content">
    <div class="ion-padding">
      <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
        <ion-list>
          <ion-item>
            <ion-input formControlName="fullName"  type="text"  value="{{userProfile?.fullName}}" placeholder="Full Name"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.fullName">
            <ng-container *ngIf="fullName.hasError(error.type) && (fullName.dirty || fullName.touched)">
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>
          <!--ion-item>
            <ion-label position="stacked"></ion-label>
            <ion-select   formControlName="designation"  value="{{userProfile?.designation}}"  placeholder="Designation">
              <ion-select-option value="Veterinarian">Veterinarian</ion-select-option>
              <ion-select-option value="Instructor">Instructor</ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngFor="let error of errorMessages.designation">
            <ng-container *ngIf="designation.hasError(error.type) && (designation.dirty || designation.touched)">
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div-->

          <ion-item>
            <ion-input formControlName="email"  type="text" value="{{userProfile?.email}}" placeholder="Email"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.email">
            <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>
          <ion-item>
            <ion-input formControlName="password"  [type]="showNewPassword ? 'text': 'password'" placeholder="Current Password"></ion-input>
            <ion-icon [name]="passwordToggleIcon"  item-end (click)="togglePassword()"></ion-icon>
          </ion-item>
          <div *ngFor="let error of errorMessages.password">
            <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>

          

          <ion-button class="save"(click)="updateProfile()"  expand="block" shape="round" [disabled]="!changePasswordForm.valid">Save Changes</ion-button>
        </ion-list>
      </form>
    </div>
  </div>



</ion-content>
