<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <h1>Vet Care App</h1>
      <img src="assets/images/cute cowww.jpg">
    </ion-slide>
    <ion-slide>
      <h1>Faith</h1>
      <h1>Family</h1>
      <h1>Farm</h1>
      <ion-button class="login" expand="block" shape="round" (click)="navigateToLogin()">Login</ion-button>
      <!--p>Don't have an account?</p>
      <ion-button class="sign-button" fill="clear" (click)="navigateToRegister()">Sign Up</ion-button-->
    </ion-slide>
  </ion-slides>
</ion-content>